/*************************GLOBALE VARIABLER****************************/
:root {
  --primary: #2232ac;
  --secondary: #666666;
  --accent: #8698e2;
}
/*SYNLIGØRE AKTIV SIDE*/
.aktiv {
  color: var(--primary) !important;
}

/*************************STYLING AF TEMABOKSE****************************/
.tema ul {
  list-style: none;
}
.tema li {
  padding-block: 10vw;
}
.tema1 {
  background-color: var(--accent);
  color: var(--primary);
}
.tema2 {
  background-color: var(--primary);
  color: var(--accent);
}
.tema3 {
  background-color: var(--accent);
  color: var(--primary);
}
.tema4 {
  background-color: var(--primary);
  color: var(--accent);
}
.tema5 {
  background-color: var(--accent);
  color: var(--primary);
}
.tema6 {
  background-color: var(--primary);
  color: var(--accent);
}

.tema a {
  text-decoration: none;
  font-size: 60px;
  padding-block: 6vw;
  padding-inline: 15vw;
}
/*************************DESKTOP****************************/
@media (min-width: 769px) {
  .tema a {
    text-decoration: none;
    font-size: 60px;
    padding-block: 6vw;
    padding-inline: 15vw;
  }
  .beskrivelse {
    padding-inline: 20rem;
  }
  .tema1,
  .tema3,
  .tema5 {
    margin-left: 48vw;
  }
}
